.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.forms {
  display: flex;
  flex-direction: row; /* Display forms in the same row */
  gap: 20px; /* Space between forms */
  margin-bottom: 20px;
}

.homepage-container > * {
  margin-bottom: 20px; /* Space between components */
}
